@tailwind base;

a {
  color: #4f703E;
  font-family: "Sanchez", Arial, Helvetica, sans-serif;
}
a:hover {
  color: #7B946E;
}

.header-green {
	color: #4f703E;
	font-family: 'Sanchez', Arial, Helvetica, sans-serif;
	line-height: 1.5;
}
.sub-header-white {
	color: white;
}

.grey {
	color: #737C6F;
}


.logo-header {
	font-family: 'Sanchez', Arial, Helvetica, sans-serif;
}

.background-green {
	background-color: #A9BBA3;
}

.background-white {
	background-color: white;
}

.shop-button {
	color: white;
	background-color: #4f703E;
}
 a.shop-button:hover {
  background-color: #3B542F;
  color: white;
  border-color: #4f703E;
  border-style: solid;
}

.dark-green-text {
	color: #3B542F;
	font-family: "Sanchez", Arial, Helvetica, sans-serif;
}
.small_line {
	line-height: 20%;
}


.image_center {
  width: 100%;
}

.image_top {
  top: 100%;
}

.tight_line {
	line-height: 1;
}


@tailwind components;

@tailwind utilities;
